<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RecordMapper">
    
    <resultMap type="Record" id="RecordResult">
        <result property="id"    column="id"    />
        <result property="vipId"    column="vip_id"    />
        <result property="phone"    column="phone"    />
        <result property="name"    column="name"    />
        <result property="money"    column="money"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectRecordVo">
        select id, vip_id, phone, name, money, create_user_id, create_user_name, create_time from record
    </sql>

    <select id="selectRecordList" parameterType="Record" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        <where>  
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="vipId != null  and vipId != ''"> and vip_id = #{vipId}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectRecordById" parameterType="String" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRecord" parameterType="Record">
        insert into record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="vipId != null">vip_id,</if>
            <if test="phone != null">phone,</if>
            <if test="name != null">name,</if>
            <if test="money != null">money,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="vipId != null">#{vipId},</if>
            <if test="phone != null">#{phone},</if>
            <if test="name != null">#{name},</if>
            <if test="money != null">#{money},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateRecord" parameterType="Record">
        update record
        <trim prefix="SET" suffixOverrides=",">
            <if test="vipId != null">vip_id = #{vipId},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="name != null">name = #{name},</if>
            <if test="money != null">money = #{money},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRecordById" parameterType="String">
        delete from record where id = #{id}
    </delete>

    <delete id="deleteRecordByIds" parameterType="String">
        delete from record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>